# Datenanalyse - R Basis 
   **Erwerbe R-Basiskompetenzen am Beispiel von regionalen Daten aus OWL**

In diesem ersten Jupyter Notebook aus dem Kurs ***„Von der Datenanalyse zur Datengeschichte - Datenanalyseergebnisse adressat:innengerecht kommunizieren“*** wollen wir Dir anhand von offen regionalen Daten(-sätzen) der *Stadt Bielefeld* und aus der Region *Ostwestfalen-Lippe (OWL)* zunächst einige Basiskenntnisse für die Datenanalyse in R vermitteln, die Du später benötigen wirst.

## Wie können Daten in R eingegeben werden?

   
<img  align = "right" src="North_rhine_w_OWL(2).svg" width="250"/> 

       
    


<div style="text-align: left">    
<p>Stell Dir vor, wir möchten die Einwohner:innenzahlen der sechs größten Städte in <i>Ostwestfalen</i> in R eingeben/ speichern. Hierzu muss für jede Stadt eine Variable definiert werden, der dann die Einwohner:innenzahl als Wert zugewiesen wird. Nehmen wir zunächst die Einwohner:innenzahl von Bielefeld 334195 (<i>Stand 31.12. 2019</i>).</p> 
    
<ul>
  <li><b>Bielefeld</b> 334195</li>
  <li><b>Paderborn</b> 151633</li>
  <li><b>Gütersloh</b> 100861</li>
  <li><b>Minden</b> 81716</li>      
  <li><b>Detmold</b> 74254</li>
  <li><b>Herford</b> 66638</li>
</ul>   
    
</div>

<div class="pull-right">  
<p style="font-size:6px;"> Von TUBS - Based upon template:<br>, 
   <a href="https://creativecommons.org/licenses/by-sa/3.0/"> CC BY-SA 3.0</a> 
    <a href="https://commons.wikimedia.org/w/index.php?curid=4915994"> Wikimedia</a> 
    </p>
</div>

Hierfür verwenden wir den Zuweisungoperator "<-" (Pfeil nach links) um die Einwohner:innenzahl von Bielefeld der Variablen *Bi* zuzuweisen. Um zu kommentieren, was wir in *R* ausführen, können wir das *Rautesymbol #* verwenden. 

**Gut zu Wissen**: Du könntest an dieser Stelle auch das Gleichheitszeichen "=" verwenden. Allerdings wird in R der "<-" bevorzugt. Für die meisten Fälle macht es keinen Unterschied, ob Du das Gleichheitszeichen oder den Links-Pfeil verwendest.

In [1]:

Bi <- 334195 # Die Einwohner:innenzahl von Bielefeld Bi zuweisen

Bi2 = 334195 # Die Einwohner:innenzahl von Bielefeld Bi2 zuweisen

Wenn Du nun den Namen der Variable eingibst, erhälst Du die Einwohner:innenzahl als Ausgabe.

In [2]:
Bi

Bi2

[1] 334195

[1] 334195

**Aufgabe 1**

Jetzt probier Du es  einmal: Definiere Variablen für die 5 restlichen obengenannten OWL-Städte und lass sie Dir ausgeben!

In [3]:
Dt <- 74254
Gt <- 100861
Hf <- 66638
Mi <- 81716
Pb <- 151633


Dt; Gt; Hf; Mi; Pb #  Ausgabe zeigen für alle 5 Städte

[1] 74254

[1] 100861

[1] 66638

[1] 81716

[1] 151633

## Datentypen in R

Um mit R zuarbeiten ist es zunächst wichtig zuverstehen, welche unterschiedlichen *Datentypen* von R genutzt werden und wie sich diese unterscheiden. Wir werden Dir hier einige ausgewählte, wichtige Datentypen vorstellen:

**Einfache Datentypen**:

* **Ganzzahl** (*integer*) => **Beispiel**: 3L, 500L, 20L

* **Gleitkommazahl** (*numeric*) => **Beispiel**: 2.99, 3, 501.33333

* **Zeichenkette, Worte** (*character*) => **Beispiel**: 'z', "OWL","209" 

* **Wahr oder Falsch** (*logical*) => **Beispiel**: TRUE, FALSE

### Ganzzahl (*integer*)

Hiebei handelt es sich wie der Name schon vermuten lässt, um positive oder negative **ganze** Zahlen. Mit der Funktion **is.integer()** können wir überprüfen, ob eine Variable von R als Ganzzahl behandelt wird.

Da es sich bei der Einwohner:innenzahl von Bielefeld um eine Ganzzahl handelt, können wir nun also überpüfen, ob unsere Variable Bi von R als Ganzzahl behandelt wird.

**Gut zu Wissen**: R definiert jedoch auch eine Ganzzahl-Eingabe zunächst als Gleitkommazahl *numeric*.

In [4]:
# Überprüfen, ob unsere Variable Bi als Ganzzahl gespeichert ist

is.integer(Bi)

[1] FALSE

Wir erhalten als Ausgabe **FALSE**, Bi ist also nicht als Ganzzahl gespeichert.

Wenn wir die Variable Bi tatsächlich als **integer** speichern möchten, dann müssen wir **L** für Long hinter die Variable hängen:

In [5]:
Bi_int <-  334195L # Bi als integer

is.integer(Bi_int)

[1] TRUE

### Gleitkommazahl (*numeric*)

Hierbei handelt es sich, wie der Name schon vermuten lässt, um eine Kommazahl. Allerdings definiert R ohne weitere Angaben auch eine Ganzzahl zunächst als Gleitkommazahl. Das können wir
mit der Funktion **is.numeric()** überprüfen:

In [6]:
# Überprüfen, ob Bi eine Gleitkommazahl ist 

is.numeric(Bi)

[1] TRUE

Wir erhalten die Ausgabe **TRUE**, das heißt das Bi von *R* als Gleitkommazahl behandelt wird.

### Zeichenkette, Worte (character)

Dieser Datentyp ermöglicht es Text zu speichern. Einzelne Zeichen wie z.B. **z** werden als **character** oder kurz **char** bezeichnet. Ketten von Zeichen wie Worte als **strings**.

Wir möchten nun statt der Zahl Einwohner:innenzahl von Bielefeld "334195", die Einwohner:innenzahl als Wort angeben: Dreihundertvierunddreißigtausendeinhundertfünfundneunzig. 

**Gut zu Wissen**: Um eine Variable in R als *character* zu definieren ist es wichtig, diese in Anführungstriche, *doppelt* oder *einfach* zu setzten.

In [7]:
Bi_Wort <- "Dreihundertvierunddreißigtausendeinhundertfünfundneunzig"; 

Bi_Wort

Bi_Wort2 <- 'Dreihundertvierunddreißigtausendeinhundertfünfundneunzig';

Bi_Wort

is.character(Bi_Wort) # überprüfen ob Character

Bi_Wort2

is.character(Bi_Wort2) # überprüfen ob Character

[1] "Dreihundertvierunddreißigtausendeinhundertfünfundneunzig"

[1] "Dreihundertvierunddreißigtausendeinhundertfünfundneunzig"

[1] TRUE

[1] "Dreihundertvierunddreißigtausendeinhundertfünfundneunzig"

[1] TRUE

Wenn wir nun wissen möchten wie lang Bi_Wort ist, dann können wir das mit **nchar()** herausfinden:

In [8]:
Anzahl_Char_Bi_Wort <- nchar(Bi_Wort) # nchar kann man sich die Anzahl der Buchstaben ausgeben lassen
Anzahl_Char_Bi_Wort 

length(Bi_Wort)# überprüfen, ob Anzahl_Char_Bi_Wort der Länge von Bi_Wort entspricht

[1] 56

[1] 1

**Gut zu Wissen**: Wie oben zu sehen, gibt **length(character)**, nicht die Anzahl der einzelnen Zeichen an.
Hierfür brauchen wir **nchar()**.

**Aufgabe 2**: Speichere die Namen der 6 größten Städte in OWL in jeweils einer Variablen und lass Dir den Inhalt der Variablen ausgeben:

In [9]:
Hf_Name <- "Herford"
Bi_Name <- "Bielefeld"
Pb_Name <- "Paderborn"
Mi_Name <- "Minden"
Gt_Name <- "Güthersloh"
Dt_Name <- "Detmold"


Hf_Name;Bi_Name;Pb_Name;Mi_Name;Gt_Name;Dt_Name

[1] "Herford"

[1] "Bielefeld"

[1] "Paderborn"

[1] "Minden"

[1] "Güthersloh"

[1] "Detmold"

## Wichtige Objekttypen in R

*R* ist eine objekt-basierte Programmiersprache. Objekte können z.B. wie oben ausgeführt einzelne Werte (Variablen) oder auch eine Menge von Werten (Datensätze) enthalten. **Alles** in R ist ein Objekt.

Wir möchten Dir nun zwei wichtige Objekttypen in R darstellen:

* Vektor
* Dataframe ("Datenrahmen")

### Vektoren

Ein *Vektor* besteht aus einer Anzahl von *n* Elementen. Es gibt unterschiedliche Typen von Vektoren: 

* *numeric* (numerischer Vektor) => nur Zahlenwerte
* *character* (Text-Vektor) => nur Buchstaben 

Um einen Vektor zu erstellen können wir die **c()-Funkion** nutzen, **c**(Wert1, Wert2, ..., Wertn).

**Gut zu Wissen**: Ein Vektor kann in R auch die Länge **n = 1** haben. Das heißt beispielsweise, dass auch die oben berechneten Variablen *Bi* und *Bi2* Vektoren sind. Ob dies auch wirklich stimmt, können wir mit **is.vector()** überprüfen.

In [10]:
is.vector(Bi) # überprüfen, ob die Variablen Bi und Bi2 Vektoren sind
is.vector(Bi2)

[1] TRUE

[1] TRUE

**Numerische Vektoren**

Mit **c()** kannst Du einen **Vektor n >  1** erstellen. Wenn Du zum Beispiel einen numerischen Vektor **Einwohner_OWL** erstellen möchtest, der die Einwohner:innenzahlen aller sechs obengenannten OWl-Städte enthält, sähe dies so aus:

In [11]:
Einwohner_OWL <- c(Bi,Pb,Gt,Mi,Dt,Hf)

print(Einwohner_OWL) # Vektor anzeigen

[1] 334195 151633 100861  81716  74254  66638

Um auf Elemente eines Vektors zuzugreifen, verwendest Du den Namen des Vektors mit dem Index des Vektorteils auf den Du zugreifen möchtest in eckigen Klammern: **Vektorname [Index]**:

In [12]:
Einwohner_OWL[1] # gibt das erste Element des Vektors an

[1] 334195

In [13]:
Einwohner_OWL[6] # gibt das letzte 6. Element des Vektors an

[1] 66638

In [14]:
Einwohner_OWL[2:5] # gibt das zweite bis fünfte Element des Vektors an

[1] 151633 100861  81716  74254

In [15]:
Einwohner_OWL[c(2,5)] # gibt das zweite UND fünfte Element des Vektors an

[1] 151633  74254

In [16]:
Einwohner_OWL[] # gibt den ganzen Vektor wieder

[1] 334195 151633 100861  81716  74254  66638

In [17]:
Einwohner_OWL [length(Einwohner_OWL)] # gibt das letzte Element des Vektors wieder

[1] 66638

Schau Dir einmal an, was passiert, wenn wir als Index einen negativen Wert verwenden: **Vektorname [-Index]**:

In [18]:
Einwohner_OWL2 <- Einwohner_OWL[-1]
Einwohner_OWL2

[1] 151633 100861  81716  74254  66638

**Gut zu Wissen**: Mit einem negativen Index können wir das Element an der angebenen Position aus dem Vektor entfernen.

**Text-Vektoren:**  

Mit **c()** kannst du auch einen Text-Vektor **Staedte_OWL** erstellen, der die Namen der sechs obenangebenen OWl-Städte enthält. Auf die Elemente eines Textvektors kannst Du nach den gleichen Prinzipien zugreifen, wie auf einen numerischen Vektor.

In [19]:
Staedte_OWL <- c(Bi_Name,Pb_Name,Gt_Name,Mi_Name,Dt_Name,Hf_Name)

print(Staedte_OWL) # Vektor anzeigen

[1] "Bielefeld"  "Paderborn"  "Güthersloh" "Minden"     "Detmold"
[6] "Herford"

**Aufgabe 3** 

3a) Lass Dir das letzte Element des Vektors **Staedte_OWL** ausgeben:

In [20]:
Staedte_OWL[length(Staedte_OWL)]

[1] "Herford"

3b) Lass Dir die ersten drei Elemente des Vektors Staedte_OWL ausgeben:

In [21]:
Staedte_OWL[1:3]

[1] "Bielefeld"  "Paderborn"  "Güthersloh"

3c) Lass Dir das 4. und 6. Element des Vektors **Staedte_OWL** ausgeben:

In [22]:
Staedte_OWL[c(4,6)]

[1] "Minden"  "Herford"

### Dataframes 

Die Besonderheit eines Dataframes oder "Datenrahmens" ist es, dass anders als z.B. in einem Vektor innehalb eines Dataframes auch unterschiedliche **Datentypen** gespeichert werden können (z.B. **numeric, character**): 

Mit **data.frame()** können einzelne Vektoren zu einem Dataframe zusammengefasst werden. Wichtig ist hier allerdings, dass die Vektoren die gleiche Länge haben.

In [23]:
Jahr <- 2000:2019 # Vektor Jahr von 2000 bis 2019 erstellen

Jahr

length(Jahr)# Länge Vektor Jahr ausgeben

 [1] 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
[16] 2015 2016 2017 2018 2019

[1] 20

In [24]:
# Vektor mit Bielfelder Einwohner:innenzahlen von 2000 bis 2019 erstellen

Einwohner_Bi_Verlauf <- c(321758,323373,324815,328452,328012, 
                          326925,325846, 324912, 323615,323084, 
                          323270,327199,328314,328864, 329782, 
                          333090, 333451,332552,333786,334195)
Einwohner_Bi_Verlauf

length(Einwohner_Bi_Verlauf) # Länge des Vektors ausgeben

 [1] 321758 323373 324815 328452 328012 326925 325846 324912 323615 323084
[11] 323270 327199 328314 328864 329782 333090 333451 332552 333786 334195

[1] 20

In [25]:
# Erstelle Text-Vektor

Bi_Text <- rep("Bielefeld",20)

Bi_Text # Vektor Bi_Text anzeigen

length(Bi_Text) # Länge Vektor Bi_Text anzeigen

 [1] "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld"
 [7] "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld"
[13] "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld"
[19] "Bielefeld" "Bielefeld"

[1] 20

In [26]:
Einwohner_Bi_2000_2019 <- data.frame(Einwohner_Bi_Verlauf,Jahr, Bi_Text) # erstelle Data.Frame aus Vektoren

View(Einwohner_Bi_2000_2019)

   Einwohner_Bi_Verlauf Jahr Bi_Text
1  321758               2000 Bielefeld
2  323373               2001 Bielefeld
3  324815               2002 Bielefeld
4  328452               2003 Bielefeld
5  328012               2004 Bielefeld
6  326925               2005 Bielefeld
7  325846               2006 Bielefeld
8  324912               2007 Bielefeld
9  323615               2008 Bielefeld
10 323084               2009 Bielefeld
11 323270               2010 Bielefeld
12 327199               2011 Bielefeld
13 328314               2012 Bielefeld
14 328864               2013 Bielefeld
15 329782               2014 Bielefeld
16 333090               2015 Bielefeld
17 333451               2016 Bielefeld
18 332552               2017 Bielefeld
19 333786               2018 Bielefeld
20 334195               2019 Bielefeld

Schau Dir **Einwohner_Bi_2000_2019** zunächst mit **str()** an:

In [27]:
str(Einwohner_Bi_2000_2019) # zeigt die Struktur des Dataframes an

'data.frame':	20 obs. of  3 variables:
 $ Einwohner_Bi_Verlauf: num  321758 323373 324815 328452 328012 ...
 $ Jahr                : int  2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 ...
 $ Bi_Text             : chr  "Bielefeld" "Bielefeld" "Bielefeld" "Bielefeld" ...

Wenn Dich nur die Anzahl der **Reihen** und **Spalten** des Dataframes intessieren, kannst Du Dir diese
mit **dim()** anzeigen lassen:

In [28]:
dim(Einwohner_Bi_2000_2019) # zeigt die Dimension des Dataframes nach Reihe und Spalte an

[1] 20  3

Wenn Du Dir nun für den Dataframe **Einwohner_Bi_2000_2019** z.B. das 3. Element der 2. Spalte ausgeben lassen möchtest, erreichst dies durch:

In [29]:
Einwohner_Bi_2000_2019[3,2] # Index Reihe, Index Spalte

[1] 2002

Die ganze 3. Reihe des Dataframes kannst Du Dir so ausgeben lassen:

In [30]:
Einwohner_Bi_2000_2019[3,] # Index Reihe, Index Spalte

  Einwohner_Bi_Verlauf Jahr Bi_Text
3 324815               2002 Bielefeld

Die ganze 1. Spalte des Dataframes kannst Du Dir entsprechend so ausgeben lassen:

In [31]:
Einwohner_Bi_2000_2019[,1] # Index Reihe, Index Spalte

 [1] 321758 323373 324815 328452 328012 326925 325846 324912 323615 323084
[11] 323270 327199 328314 328864 329782 333090 333451 332552 333786 334195

Es gibt allerdings noch eine andere Möglichkeit auf die Spalten eines Dataframes zuzugreifen, hierfür musst Du das "Dollarzeichen" verwenden, **DataframeName\$SpaltenName**:

In [32]:
# ruft die erste Spalte des Dataframes  Einwohner_Bi_2000_2019 auf 

Einwohner_Bi_2000_2019$Einwohner_Bi_Verlauf

 [1] 321758 323373 324815 328452 328012 326925 325846 324912 323615 323084
[11] 323270 327199 328314 328864 329782 333090 333451 332552 333786 334195

# Bevölkerungsdaten Stadt Bielefeld gesamt
 https://open-data.bielefeld.de/dataset/alters-und-geschlechtsstruktur-2018-2020

In [33]:
# Bevölkerungsdaten Bielfeld als Dataframe einlesen
data_Bv_Bi <- read.csv(url("https://open-data.bielefeld.de/sites/default/files/Alters_und_Geschlechtsstruktur2018bis2020ges_0.csv"), header = TRUE, sep = ';')

In [34]:
str(data_Bv_Bi) #Struktur des Dataframe anzeigen

'data.frame':	546 obs. of  5 variables:
 $ Jahr                                   : int  2020 2020 2020 2020 2020 2020 2020 2020 2020 2020 ...
 $ Bielefeld                              : chr  "Bielefeld insgesamt" "Bielefeld insgesamt" "Bielefeld insgesamt" "Bielefeld insgesamt" ...
 $ Geschlecht                             : chr  "maennlich" "maennlich" "maennlich" "maennlich" ...
 $ Altersstufe                            : chr  "0" "1" "2" "3" ...
 $ Einwohner_innen.am.Ort.der.Hauptwohnung: int  1661 1764 1695 1700 1647 1649 1605 1598 1542 1618 ...

In [35]:
View(data_Bv_Bi) # zeigt den gesamten Dataframe an

    Jahr Bielefeld           Geschlecht Altersstufe
1   2020 Bielefeld insgesamt maennlich  0
2   2020 Bielefeld insgesamt maennlich  1
3   2020 Bielefeld insgesamt maennlich  2
4   2020 Bielefeld insgesamt maennlich  3
5   2020 Bielefeld insgesamt maennlich  4
6   2020 Bielefeld insgesamt maennlich  5
7   2020 Bielefeld insgesamt maennlich  6
8   2020 Bielefeld insgesamt maennlich  7
9   2020 Bielefeld insgesamt maennlich  8
10  2020 Bielefeld insgesamt maennlich  9
11  2020 Bielefeld insgesamt maennlich  10
12  2020 Bielefeld insgesamt maennlich  11
13  2020 Bielefeld insgesamt maennlich  12
14  2020 Bielefeld insgesamt maennlich  13
15  2020 Bielefeld insgesamt maennlich  14
16  2020 Bielefeld insgesamt maennlich  15
17  2020 Bielefeld insgesamt maennlich  16
18  2020 Bielefeld insgesamt maennlich  17
19  2020 Bielefeld insgesamt maennlich  18
20  2020 Bielefeld insgesamt maennlich  19
21  2020 Bielefeld insgesamt maennlich  20
22  2020 Bielefeld insgesamt maennlich  21
23  2020 Bielefeld insgesamt maennlich  22
24  2020 Bielefeld insgesamt maennlich  23
25  2020 Bielefeld insgesamt maennlich  24
26  2020 Bielefeld insgesamt maennlich  25
27  2020 Bielefeld insgesamt maennlich  26
28  2020 Bielefeld insgesamt maennlich  27
29  2020 Bielefeld insgesamt maennlich  28
30  2020 Bielefeld insgesamt maennlich  29
... ...  ...                 ...        ...
517 2018 Bielefeld insgesamt weiblich   61
518 2018 Bielefeld insgesamt weiblich   62
519 2018 Bielefeld insgesamt weiblich   63
520 2018 Bielefeld insgesamt weiblich   64
521 2018 Bielefeld insgesamt weiblich   65
522 2018 Bielefeld insgesamt weiblich   66
523 2018 Bielefeld insgesamt weiblich   67
524 2018 Bielefeld insgesamt weiblich   68
525 2018 Bielefeld insgesamt weiblich   69
526 2018 Bielefeld insgesamt weiblich   70
527 2018 Bielefeld insgesamt weiblich   71
528 2018 Bielefeld insgesamt weiblich   72
529 2018 Bielefeld insgesamt weiblich   73
530 2018 Bielefeld insgesamt weiblich   74
531 2018 Bielefeld insgesamt weiblich   75
532 2018 Bielefeld insgesamt weiblich   76
533 2018 Bielefeld insgesamt weiblich   77
534 2018 Bielefeld insgesamt weiblich   78
535 2018 Bielefeld insgesamt weiblich   79
536 2018 Bielefeld insgesamt weiblich   80
537 2018 Bielefeld insgesamt weiblich   81
538 2018 Bielefeld insgesamt weiblich   82
539 2018 Bielefeld insgesamt weiblich   83
540 2018 Bielefeld insgesamt weiblich   84
541 2018 Bielefeld insgesamt weiblich   85
542 2018 Bielefeld insgesamt weiblich   86
543 2018 Bielefeld insgesamt weiblich   87
544 2018 Bielefeld insgesamt weiblich   88
545 2018 Bielefeld insgesamt weiblich   89
546 2018 Bielefeld insgesamt weiblich   90_und_aelter
    Einwohner_innen.am.Ort.der.Hauptwohnung
1   1661
2   1764
3   1695
4   1700
5   1647
6   1649
7   1605
8   1598
9   1542
10  1618
11  1633
12  1525
13  1649
14  1621
15  1639
16  1635
17  1713
18  1660
19  1788
20  1785
21  2069
22  2074
23  2243
24  2497
25  2497
26  2408
27  2533
28  2597
29  2591
30  2655
... ...
517 2121
518 2091
519 2060
520 2020
521 1853
522 1805
523 1734
524 1785
525 1763
526 1582
527 1461
528 1291
529 1210
530 1470
531 1448
532 1391
533 1756
534 1888
535 1915
536 1654
537 1633
538 1451
539 1379
540 1250
541  928
542  847
543  827
544  802
545  680
546 2660

**Aufgabe 4**:

4a) Zeige die ersten 10 Elemente der 5. Spalte des **Dataframes data_Bv_Bi** an:

In [36]:
data_Bv_Bi$Einwohner_innen.am.Ort.der.Hauptwohnung[1:10]

 [1] 1661 1764 1695 1700 1647 1649 1605 1598 1542 1618

4b) Zeige die 4. Reihe des **Dataframes data_Bv_Bi** an:

In [37]:
data_Bv_Bi[4,]

  Jahr Bielefeld           Geschlecht Altersstufe
4 2020 Bielefeld insgesamt maennlich  3
  Einwohner_innen.am.Ort.der.Hauptwohnung
4 1700

4c) Lösch die zweite Spalte aus dem **Dataframe data_Bv_Bi** und erstelle dabei den neuen Dataframe **data_Bv_Bi_ohne_Spalte2**:

In [38]:
data_Bv_Bi_ohne_Spalte2 <- data_Bv_Bi[,-2]

View(data_Bv_Bi_ohne_Spalte2)

    Jahr Geschlecht Altersstufe   Einwohner_innen.am.Ort.der.Hauptwohnung
1   2020 maennlich  0             1661
2   2020 maennlich  1             1764
3   2020 maennlich  2             1695
4   2020 maennlich  3             1700
5   2020 maennlich  4             1647
6   2020 maennlich  5             1649
7   2020 maennlich  6             1605
8   2020 maennlich  7             1598
9   2020 maennlich  8             1542
10  2020 maennlich  9             1618
11  2020 maennlich  10            1633
12  2020 maennlich  11            1525
13  2020 maennlich  12            1649
14  2020 maennlich  13            1621
15  2020 maennlich  14            1639
16  2020 maennlich  15            1635
17  2020 maennlich  16            1713
18  2020 maennlich  17            1660
19  2020 maennlich  18            1788
20  2020 maennlich  19            1785
21  2020 maennlich  20            2069
22  2020 maennlich  21            2074
23  2020 maennlich  22            2243
24  2020 maennlich  23            2497
25  2020 maennlich  24            2497
26  2020 maennlich  25            2408
27  2020 maennlich  26            2533
28  2020 maennlich  27            2597
29  2020 maennlich  28            2591
30  2020 maennlich  29            2655
... ...  ...        ...           ...
517 2018 weiblich   61            2121
518 2018 weiblich   62            2091
519 2018 weiblich   63            2060
520 2018 weiblich   64            2020
521 2018 weiblich   65            1853
522 2018 weiblich   66            1805
523 2018 weiblich   67            1734
524 2018 weiblich   68            1785
525 2018 weiblich   69            1763
526 2018 weiblich   70            1582
527 2018 weiblich   71            1461
528 2018 weiblich   72            1291
529 2018 weiblich   73            1210
530 2018 weiblich   74            1470
531 2018 weiblich   75            1448
532 2018 weiblich   76            1391
533 2018 weiblich   77            1756
534 2018 weiblich   78            1888
535 2018 weiblich   79            1915
536 2018 weiblich   80            1654
537 2018 weiblich   81            1633
538 2018 weiblich   82            1451
539 2018 weiblich   83            1379
540 2018 weiblich   84            1250
541 2018 weiblich   85             928
542 2018 weiblich   86             847
543 2018 weiblich   87             827
544 2018 weiblich   88             802
545 2018 weiblich   89             680
546 2018 weiblich   90_und_aelter 2660

**Quellen und weiterführende Literatur:**

**R**:
* https://resbaz.github.io/2014-r-materials/lessons/01-intro_r/data-structures.html
* https://databraineo.com/ki-training-resources/r-programmierung/datentypen-in-r-einfach-erklaert/
* https://www.tutorialspoint.com/r/r_data_types.html
* http://de.jberries.com/artikel/%C3%BCbersicht-%C3%BCber-datentypen-in-r-51


**Stadt Bielefeld**:
* https://de.wikipedia.org/wiki/Einwohnerentwicklung_von_Bielefeld
* https://open-data.bielefeld.de/dataset/alters-und-geschlechtsstruktur-2018-2020